body{
    width: 50%;
    height: 100%;

}
.container{
    padding: 10px;
    background-color: #ccc;
}
.header{
    background-color: white;
    padding: 10px;
}
.header * {
    margin-left: 15px;
    margin: 8px;
}
label.kien{
    font-weight: bold;
}